
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400..900&display=swap');


/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}


html {
  color: #E6E6FA ;
  font-size: .75rem;
  font-family: 'Montserat', sans-serif;
  background-color: #000;
}

body {
  padding:1rem 0;
  color:#E6E6FA;
  background-color: #000;

}

    main {
        margin:0 auto;
    }

    grid-set {
      display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        grid-gap:10px;
        padding:0;
        background:#000;
    }




article {
  padding:0;
  margin:0;
}



.h1 {
  grid-column:2 ;
  grid-row: 1 ;
}
.h2 {
  grid-column:3;
  grid-row: 1;
}
.h3 {
  grid-column:4;
  grid-row: 1;
}
.h4 {
  grid-column:5;
  grid-row: 1;
}

.h5 {
  grid-column: 5 / 5;
  grid-row: 2 / 3;
}



h1, h2, h3, h4, h5 {
  font-family: 'Montserat', sans-serif;
  margin:0;
  padding:0;
  line-height:1;
}

h1 {
  font-size:4rem;
  font-weight:900;
  text-align: right;
}

h2 {
  font-size:4rem;
  text-transform:uppercase;
  font-weight:900;
  text-align: right;

}
h3 {
  font-size:4rem;
  font-weight:900;
  text-align: right;

}
h4 {
  font-size:4rem;
  font-weight:900;
  text-align: right;

}

h5 {
  font-size: .25rem;
  font-weight: 100;
  text-align: left ;
}








/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width : 48em) {

  html {
    font-size: 1.5rem;
    font-family: 'Work Sans', serif;
    background-color: #000;
  }

  main {
    max-width:70vw;
    margin:0 auto;
    padding:0;}
}

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width : 68.75em) {

  html {
    font-size: 2rem;
    font-family: 'Work Sans', serif;
    background-color: #000;
  }
  
  main {
    max-width:60vw;
    margin:0 auto;
    padding:0;}
}

/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width : 81.25em) {

  html {
    font-size: 3rem;
    font-family: 'Work Sans', serif;
    background-color: #000;
  }
  
  main {
    max-width:50vw;
    margin:0 auto;
    padding:0;}
 
}


