html {
  color: #E6E6FA ;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Chivo', sans-serif;
  background-color: #000 ;
}

body {
  padding: 5rem 0;
}


main {
  display: grid ;
  grid-template-columns: 2fr 1fr ;
  grid-auto-rows: min-content ;
  grid-gap: 2rem ;
  width: 90vw ;
  margin: 0 auto ;
}


img {
    width: 100%;html {
  color: #E6E6FA ;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Chivo', sans-serif;
  background-color: #000 ;
}

body {
  padding: 5rem 0;
}


main {
  display: grid ;
  grid-template-columns: 2fr 1fr ;
  grid-auto-rows: min-content ;
  grid-gap: 2rem ;
  width: 90vw ;
  margin: 0 auto ;
}


img {
    width: 100%;
}
}


.intro-block {
  grid-column:1 / 5;
  grid-row:4 / 8;
}

.article {
  grid-column:3 / 8;
  grid-row:3 / 7;
}

.article-2 {
  grid-column:5 / 12;
  grid-row:7 / 8;
}
.article-3 {
  grid-column:9 / 11;
  grid-row:8 / 7;
}
.article-4 {
  grid-column:3 / 11;
  grid-row:6 / 7;
}
.article-5 {
  grid-column:3 / 11;
  grid-row:8 / 7;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Chivo', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-family: 'Paytone', sans-serif
  font-size:10rem;
  font-weight:700;
}
h2 {
  font-size:4rem;
}
h3 {
  font-size:2rem;
  font-weight:400;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Chivo', sans-serif;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-family: 'Chivo', sans-serif;
  font-size: 1.5rem;
  line-height: .5;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Chivo', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.pull-quote {
  grid-column:5 / 7;
  grid-row:4 / 13;
  font-size: 6rem;
  font-family: 'Chivo', sans-serif;
  line-height: 4;
  font-weight:400;
  padding:2rem;

}

.vert-quote {
  grid-column:2 / 9;
  grid-row:10 / 11;
  font-size: 10rem;
  font-family: 'Chivo', sans-serif;
  line-height: 0.75;
  font-weight:400;
  writing-mode: vertical-rl;
  padding:2rem;

}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Chivo', sans-serif;
  padding-top: 1rem;
}
